.homeContainer {
  width: 100%;
  height: 100vh;
  /* background-color: #1e242a; */
  background-color: #222222;

  .imageArea {
    width: 590px;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0%;
    right: 0%;
    animation: moveToLeft 3s ease-out;
  }

  .contentArea {
    width: 100%;
    /* height: 80vh; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #dddddd;
    animation: zoomIn 4s ease-out;
    h1 {
      font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
      font-size: 5rem;
      margin-top: 70px;
    }
    p {
      font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 1.1rem;
      color: rgba(229, 231, 235);
      margin: 18px auto;
      font-weight: 100;
    }
  }
}

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .contentBox h1 {
    font-size: 3rem;
  }
  .contentBox p {
    font-size: 0.8rem;
    margin: 10px auto;
    font-weight: 100;
  }
}

@media screen and (min-width: 768px) {
  .homeContainer {
    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 85vh);
  }
}
