// *** Battle Card ***

.deckOfCard {
  transition: opacity 0.1s ease-in-out;
  @apply w-full h-full flex flex-col relative overflow-hidden;
}

.swipe--card {
  padding-bottom: 10px;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  img {
    width: 100%;
    pointer-events: none;
  }
  @apply bg-white inline-block absolute overflow-hidden rounded-lg shadow-2xl cursor-pointer;
}
