.buttonStyle {
  width: 200px;
  padding: 18px 0;
  text-align: center;
  margin: 20px 12px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover {
    border: none;

    span {
      width: 100%;
    }
  }
  &:focus {
    outline: 0;
  }
}

@media screen and (max-width: 480px) {
  .buttonStyle {
    font-size: 0.7rem;
    margin: 10px 10px;
  }
}
