// **** Home Page ****
.homeBtn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 18px 12px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }

  &:hover {
    border: none;

    span {
      width: 100%;
    }
  }
  &:focus {
    outline: 0;
  }
}

@media screen and (max-width: 480px) {
  .homeBtn {
    font-size: 0.7rem;
    margin: 10px 10px;
  }
}

// **** battle Page ****

.loseBtn,
.winBtn {
  line-height: 60px;
  width: 60px;
  border: 0;
  display: inline-block;
  margin: 0 1.5rem;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.loseBtn {
  -webkit-box-shadow: 0 5px 0 rgba(220, 38, 38, 1);
  box-shadow: 0 5px 0 rgba(220, 38, 38, 1);
  @apply rounded-full  text-white bg-red-500;
}

.winBtn {
  -webkit-box-shadow: 0 5px 0 rgba(5, 150, 105, 1);
  box-shadow: 0 5px 0 rgba(5, 150, 105, 1);
  @apply rounded-full text-white bg-green-500;
}
